<nav class="navbar auth-navbar animate-slide-down">
    <a href="/" class="logo hover-pulse">
        <img src="/static/media/logos/primary-logo.svg" alt="Logo" width="125">
    </a>
    <div class="auth-actions">
        <%- include('../../language-switcher') %>
        <a href="/auth/login" class="btn btn-secondary"><%= __('common.login') %></a>
        <a href="/auth/register" class="btn btn-primary ml-2"><%= __('common.register') %></a>
    </div>
</nav>