<nav class="navbar auth-navbar animate-slide-down">
    <a href="/" class="logo hover-pulse">
        <img src="/static/media/logos/primary-logo.svg" alt="Logo" width="125">
    </a>
    <div class="auth-actions">
        <a href="/login" class="btn btn-outline">Sign In</a>
        <a href="/register" class="btn btn-primary ml-2">Register</a>
    </div>
</nav>