<div class="login-container">
    <div class="welcome-header animate-fade-in">
        <h1>Welcome Back</h1>
        <p class="subtitle">Sign in to your account</p>
        <div class="divider"></div>
    </div>

    <form class="auth-form animate-slide-up" action="/api/auth/login" method="post">
        <div class="form-group">
            <label for="username">Username <span style="color: var(--blood-red);">*</span></label>
            <input
                    type="text"
                    id="username"
                    name="username"
                    class="form-control"
                    placeholder="Enter your username"
            >
            <div class="error-message"></div>
        </div>

        <div class="form-group">
            <label for="password">Password <span style="color: var(--blood-red);">*</span> </label>
            <div class="password-input-container">
                <input
                        type="password"
                        id="password"
                        name="password"
                        class="form-control"
                        placeholder="Enter your password"
                >
                <button type="button" class="toggle-password" aria-label="Toggle password visibility">
                    <span class="material-symbols-outlined password-icon">
                        visibility
                    </span>
                </button>
            </div>
            <div class="error-message"></div>
        </div>

        <button type="submit" class="btn btn-primary btn-signin">
            Sign
            <span class="material-symbols-outlined confirm-icon">
                arrow_forward
            </span>
        </button>
    </form>
    <div style="text-align: center">
        <a href="/auth/forgot-password" class="forgot-password">
            Forgot your password?
        </a>
    </div>
</div>

<script src="/static/scripts/pages/auth/login.js" defer></script>