<nav class="navbar">
    <div class="navbar-left">
        <div class="hamburger" id="sidebarToggle">
            <span class="material-symbols-outlined">
                menu
            </span>
        </div>
        <div class="logo-container">
            <img src="/static/media/logos/primary-logo.svg" alt="Logo" width="125">
        </div>
    </div>

    <div class="navbar-right">
        <div class="search-box">
            <i class="fas fa-search"></i>
            <input type="text" placeholder="Search...">
        </div>
        <div class="user-profile">
            <div class="notification-badge">
                <span class="material-symbols-outlined">
                    notifications
                </span>
                <span class="count-badge">3</span>
            </div>
            <div class="avatar">
                <span class="material-symbols-outlined">
                    account_circle
                </span>
            </div>
        </div>
    </div>
</nav>