<aside class="sidebar" id="sidebar">
    <div class="sidebar-menu">
        <div class="sidebar-header">
            <h3>MAIN MENU</h3>
        </div>
        <ul>
            <li class="active">
                <a href="#">
                    <span class="material-symbols-outlined">
                        dashboard
                    </span>
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="material-symbols-outlined">
                        monitoring
                    </span>
                    <span>Analyses</span>
                    <span class="menu-badge">6</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="material-symbols-outlined">
                        orders
                    </span>
                    <span>Archiv</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="material-symbols-outlined">
                        groups
                    </span>
                    <span>Users</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="material-symbols-outlined">
                        storefront
                    </span>
                    <span>Company Settings </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="material-symbols-outlined">
                        settings
                    </span>
                    <span>Settings</span>
                </a>
            </li>
        </ul>
    </div>

</aside>